*~
*.swp

.DS_Store

__pycache__
.venv

.zig-cache
zig-out
target

ner-models

package-lock.json
pnpm-lock.yaml
node_modules
dist
tests/transformer-js/public
apps/webapp/public
browser_extension/vendor

